<% include ../partials/head %>

<% include ../partials/nav %>

<main>
  <section class="content">
    <h1><%= lang.page.account.title %></h1>
    <div class="row">
      <p><%= lang.account.username %>:</p>
      <p><%= userData.username %></p>
    </div>

    <div class="row">
      <p><%= lang.page.account.email_addr %>:</p>
      <p><%= userData.email %></p>
    </div>

    <% if (config.enableApi) { %>
      <div class="row">
        <p><%= lang.page.account.api_key[0] %>:</p>
        <p id="user-api-key"><%= userData.apiKey %></p>
      </div>
    <% } %>

    <button type="button" name="button" id="change-password" class="button"><%= lang.page.account.change_password %></button>

    <% if (config.allowChangeEmail) { %>
      <button type="button" name="button" id="change-email" class="button"><%= lang.page.account.change_email[0] %></button>
    <% } %>

    <form action="/change-password" method="post" id="change-password-form" class="hidden">
      <h4><%= lang.page.account.change_password %></h4>
      <fieldset class="fieldset fieldset--margin">
        <div class="field field--first">
          <label for="old-password"><%= lang.page.account.old_password %></label>
          <input id="old-password" class="input" type="password" name="oldPassword" required>
        </div>

        <div class="field field--second field--second">
          <label for="new-password"><%= lang.page.account.new_password %></label>
          <input id="new-password" class="input" type="password" name="newPassword" required>
        </div>

        <div class="field field--second field--last">
          <label for="confirm-password"><%= lang.page.account.new_password %></label>
          <input id="confirm-password" class="input" type="password" name="confirmPassword" required>
        </div>
      </fieldset>

      <fieldset class="fieldset--margin">
        <input type="submit" name="submit" id="submit-change-password">
      </fieldset>
    </form>

    <% if (config.allowChangeEmail) { %>
      <form action="/update-email" method="post" id="update-email" class="hidden">
        <h4><%= lang.page.account.change_email[1] %></h4>
        <fieldset class="fieldset fieldset--margin">
          <div class="field field--first">
            <label for="email"><%= lang.page.account.new_email %></label>
            <input id="email" class="input" type="email" name="email" placeholder="joopie@example.com" required>
          </div>

          <div class="field field--second field--last">
            <label for="password"><%= lang.account.password %></label>
            <input id="password" class="input" type="password" name="password" required>
          </div>
        </fieldset>

        <fieldset class="fieldset--margin">
          <input type="submit" name="submit" id="submit">
        </fieldset>
      </form>
    <% } %>

    <% if (config.enableApi === true && userData.apiKey === null) { %>
      <section id="api-key-generator">
        <h1><%= lang.page.account.api_key[0] %></h1>
        <p><%= lang.page.account.generate_key %></p>

        <form>
          <fieldset class="fieldset fieldset--margin fieldset--standalone">
            <div class="">
              <label for="generated key"><%= lang.page.account.api_key[1] %></label>
              <input class="input" type="text" id="generated-key">
            </div>
          </fieldset>

          <fieldset class="fieldset--margin">
            <input type="submit" name="submit" id="api-key">
          </fieldset>
        </form>
      </section>
    <% } %>
  </section>
</main>

<script src="js/account.js"></script>

<% include ../partials/tail %>
