<% include ../partials/head %>

<% include ../partials/nav %>

<main>
  <section>
    <form action="/submit-session" method="post" class="form--add-session">
      <fieldset>
        <p>Was the session today or another day?</p>

        <div class="radio-container">
          <input id="today" type="radio" name="date" value="today" checked>
          <label for="today">Today</label>

          <input id="other-day" type="radio" name="date" value="other">
          <label for="other-day">Other</label>
        </div>
      </fieldset>

      <% include ../partials/form/manual-input %>

      <fieldset>
        <div class="field field--first" id="hour-field">
          <label for="hour">At which hour did you sail?</label>
          <select id="hour" class="input" name="hour">
            <% for (let i = 7; i < 21; i++) { %>
              <option value="<%= i %>"><%= i %></option>
            <% } %>
          </select>
        </div>

        <% include ../partials/form/spot %>

        <%- include('../partials/form/select', { field: 'sail' }) %>

        <%- include('../partials/form/select', { field: 'board' }) %>

        <div class="field">
          <label for="rating">Rating</label>
          <select id="rating" name="rating">
            <% for (let i = 1; i < 10.5; i += 0.5) {
                if (i == 7) { %>
                  <option value="<%= i %>" selected><%= i %></option>
                <% } else { %>
                  <option value="<%= i %>"><%= i %></option>
                <% }
               } %>
          </select>
        </div>
      </fieldset>

      <fieldset class="fieldset__textarea fieldset--transparent">
        <label for="note">Note (max 255 characters)</label>
        <textarea id="note" name="note" rows="5" cols="80" maxlength="255"></textarea>
      </fieldset>

      <% include ../partials/form/submitForm %>
    </form>
  </section>
</main>

<script src="./js/add-session.js"></script>

<% include ../partials/tail %>
