<% include ../partials/head %>

<% include ../partials/nav %>

  <main>
    <section class="content">
      <h3>All statistics</h3>
      <table>
        <tr>
          <th>Date</th>
          <th>Spot</th>
          <th>Windspeed</th>
          <th>Windgust</th>
          <th>Wind direction</th>
          <th>Sail</th>
          <th>Board</th>
          <th>Rating</th>
          <th>Note</th>
        </tr>

        <% sessions.forEach(session => { %>
          <tr>
            <td><%= session.date %></td>
            <td><%= session.spot %></td>
            <td><%= session.windspeed %></td>
            <td><%= session.windgust %></td>
            <td><%= session.windDirection %></td>
            <td><%= session.sailSize %></td>
            <td><%= session.board %></td>
            <td><%= session.rating %></td>
            <td><%= session.note %></td>
          </tr>
        <% }) %>

      </table>
    </section>
  </main>

<% include ../partials/tail %>
