<% include head %>

<main>
  <section class="content">
    <h1><%= lang.page.account.title %></h1>
    <div class="row">
      <p><%= lang.account.username %>:</p>
      <p><%= userData.username %></p>
    </div>

    <div class="row">
      <p><%= lang.page.account.email_addr %>:</p>
      <p><%= userData.email %></p>
    </div>
    <button type="button" name="button" id="change-email" class="button"><%= lang.page.account.change_email[0] %></button>

    <form action="/update-email" method="post" id="update-email" class="hidden">
      <h4><%= lang.page.account.change_email[1] %></h4>
      <fieldset class="fieldset fieldset--margin">
        <div class="field field--first">
          <label for="email"><%= lang.page.account.new_email %></label>
          <input id="email" class="input" type="email" name="email" placeholder="joopie@example.com" required>
        </div>

        <div class="field field--second field--last">
          <label for="password"><%= lang.account.password %></label>
          <input id="password" class="input" type="password" name="password" required>
        </div>
      </fieldset>

      <fieldset class="fieldset--margin">
        <input type="submit" name="submit" id="submit">
      </fieldset>
    </form>
  </section>
</main>

<script src="js/account.js"></script>

<% include tail %>
