<% include head %>

<main id="main-form">
  <h1>Input windsurf data</h1>

  <form action="/submit-data" method="post">
    <fieldset class="seperate radio-buttons">
      <p class="field first">Was the session today or a another day?</p>
      <div id="date-radio" class="field after-title">
        <input id="today" type="radio" name="date" value="today" checked>
        <label for="today" class="radio">Today</label>
        <input id="other-day" type="radio" name="date" value="other" disabled>
        <label for="other-day" class="radio">Other</label>
      </div>

      <p>Was the session before or after 18:00h?</p>
      <div id="before-after-time-radio" class="field last">
        <input id="before" type="radio" name="time" value="before" checked>
        <label for="before" class="radio">Before 18:00h</label>
        <input id="after" type="radio" name="time" value="after" disabled>
        <label for="after" class="radio">After 18:00h</label>
      </div>
    </fieldset>

    <fieldset id="additional-stats" class="seperate hidden">
      <div class="field first">
        <label for="average-windspeed">Average windspeed (in kts)</label>
        <input id="average-windspeed" type="number" name="averageWindspeed" placeholder="15">
      </div>

      <div class="field second">
        <label for="windgust">Windgust (in kts)</label>
        <input id="windgust" type="number" name="windgust" placeholder="15">
      </div>

      <div class="field last">
        <label for="wind-direction">Wind direction</label>
        <input id="wind-direction" type="text" name="windDirection" maxlength="3" placeholder="WSW">
      </div>
    </fieldset>

    <fieldset>
      <div class="field first">
        <label for="spot-other">Spot</label>
        <select id="spot" name="spot">
          <option value="schellinkhout" selected="selected">Schellinhout</option>
          <option value="hondehemeltje">Hondehemeltje</option>
          <option value="andijk">Andijk</option>
          <option value="onderijk" disabled>Onderdijk</option>
          <option value="other" disabled>Other</option>
        </select>
      </div>
      <div id="spot-other-wrapper" class="field hidden">
        <label></label>
        <input id="spot-other" type="text" name="spot-other" class="custom-field" placeholder="Insert custom spot">
      </div>
    </fieldset>

    <fieldset>
      <div class="field second">
        <label  for="windsurf-sail-size-other">Sail size</label>
        <select id="windsurf-sail-size" name="sailSize">
          <option value="selecteer" selected disabled>Selecteer</option>
          <% for (let i = 0; i < prefs.sails.length; i++) {
            if (prefs.sails[i] != '') { %>
              <option value="<%= prefs.sails[i] %>"><%= prefs.sails[i] %></option>
            <% }
          } %>
          <option value="other" disabled>Other</option>
        </select>
      </div>

      <div id="windsurf-sail-size-other-wrapper" class="field hidden">
        <label></label>
        <input id="windsurf-sail-size-other" type="number" name="sailSizeOther" class="custom-field" placeholder="Insert custom sail size" max="10" min="1">
      </div>

      <div class="field">
        <label for="windsurf-board-other">Board</label>
        <select id="windsurf-board" name="windsurfBoard">
          <option value="selecteer" selected disabled>Selecteer</option>
          <% for (let i = 0; i < prefs.boards.length; i++) {
            if (prefs.boards[i] != '') { %>
              <option value="<%= prefs.boards[i] %>"><%= prefs.boards[i] %></option>
            <% }
          } %>
          <option value="other" disabled>Other</option>
        </select>
      </div>

      <div id="windsurf-board-other-wrapper" class="field hidden">
        <label></label>
        <input id="windsurf-board-other" type="text" name="windsurf-board-other" class="custom-field" placeholder="Insert custom board">
      </div>
    </fieldset>

    <fieldset class="seperate">
      <div class="field last">
        <label for="rating">Rating</label>
        <select id="rating" name="rating">
          <% for (let i=1; i < 10.5; i += 0.5) {
              if (i == 7) { %>
                <option value="<%= i %>" selected><%= i %></option>
              <% } else { %>
                <option value="<%= i %>"><%= i %></option>
              <% }
             } %>
        </select>
      </div>
    </fieldset>

    <fieldset class="seperate not-white">
      <label for="note">Note</label>
      <textarea id="note" name="note" rows="5" cols="80"></textarea>
    </fieldset>

    <p id="error-message"></p>

    <fieldset class="seperate not-white">
      <input type="submit" name="submit" id="submit-form">
    </fieldset>
  </form>
</main>

<script src="js/submit-data.js"></script>

<% include tail %>
