<% include head %>

<main id="confirm-data">
  <h1>Submitted data</h1>
  <h3>Confirm the submitted data is correct.</h3>

  <form action="/confirm-submit" method="post">
    <fieldset class="seperate">
      <div class="field first">
        <label for="date">Date</label>
        <input id="date" type="text" name="date" value="<%= data.date %>" placeholder="dd-mm-yyyy" maxlength="10" required>
      </div>

      <div class="field second">
        <label for="spot">Spot</label>
        <input id="spot" type="text" name="spot" value="<%= data.spot.charAt(0).toUpperCase() + data.spot.substr(1) %>" placeholder="<%= data.spot %>" required>
      </div>

      <div class="field">
        <label for="windspeed">Windspeed</label>
        <input id="windspeed" type="number" name="windspeed" value="<%= data.windspeed %>" placeholder="<%= data.windspeed %>" required>
      </div>

      <div class="field">
        <label for="windgust">Windgust</label>
        <input id="windgust" type="number" name="windgust" value="<%= data.windgust %>" placeholder="<%= data.windgust %> kts" required>
      </div>

      <div class="field last">
        <label for="wind-direction">Wind direction</label>
        <input id="wind-direction" type="text" name="windDirection" value="<%= data.windDirection %>" placeholder="<%= data.windDirection %> kts" maxlength="3" required>
      </div>
    </fieldset>

    <fieldset class="seperate">
      <div class="field first">
        <label for="sail">Sail size</label>
        <input id="sail" type="number" name="sail" value="<%= data.sail %>" placeholder="<%= data.sail %>" required>
      </div>

      <div class="field second">
        <label for="board">Board</label>
        <input id="board" type="text" name="board" value="<%= data.board %>" placeholder="<%= data.board %>" required>
      </div>

      <div class="field last">
        <label for="rating">Rating</label>
        <input id="rating" type="number" name="rating" value="<%= data.rating %>" placeholder="<%= data.rating %>" maxlength="3" required>
      </div>
    </fieldset>

    <fieldset class="seperate not-white">
      <label for="note">Note</label>
      <textarea id="note" name="note" rows="5" cols="80" placeholder="<%= data.note %>" required><%= data.note %></textarea>
    </fieldset>

    <h2>The data is:</h2>
    <fieldset class="seperate radio-buttons not-white">
      <div id="confirm-radio" class="field after-title">
        <input id="correct" type="radio" name="confirmData" value="correct" checked>
        <label for="correct">Correct</label>
        <input id="incorrect" type="radio" name="confirmData" value="incorrect">
        <label for="incorrect">Incorrect</label>
      </div>

      <input type="submit" name="confirm-submit" id="confirm-submit">
    </fieldset>
  </form>

</main>

<% include tail %>
