<% include head %>

<main id="confirm-data" class="col-2">
  <h1>Submitted data</h1>
  <h3>Confirm the submitted data is correct.</h3>

  <article class="seperate">
    <div class="field first">
      <h4>Spot</h4>
      <p><%= data.spot %></p>
    </div>

    <div class="field second">
      <h4>Hour of most wind</h4>
      <p><%= data.time %></p>
    </div>

    <div class="field">
      <h4>Windspeed</h4>
      <p><%= data.windspeed %> kts</p>
    </div>

    <div class="field">
      <h4>Windgust</h4>
      <p><%= data.windgust %> kts</p>
    </div>

    <div class="field last">
      <h4>Winddirection</h4>
      <p><%= data.windDirection %></p>
    </div>
  </article>

  <article class="seperate">
    <div class="field first">
      <h4>Sailsize</h4>
      <p><%= data.sail %></p>
    </div>

    <div class="field second">
      <h4>Board</h4>
      <p><%= data.board %></p>
    </div>

    <div class="field">
      <h4>Rating</h4>
      <p><%= data.rating %></p>
    </div>

    <div class="field last">
      <h4>Note</h4>
      <p><%= data.note %></p>
    </div>
  </article>

  <h2>The data is:</h2>
  <form action="/confirm-submit" method="post">
    <fieldset class="seperate radio-buttons not-white">
      <div id="confirm-radio" class="field after-title">
        <input id="correct" type="radio" name="confirmData" value="correct" checked>
        <label for="correct">Correct</label>
        <input id="incorrect" type="radio" name="confirmData" value="incorrect">
        <label for="incorrect">Incorrect</label>
      </div>

      <input type="submit" name="confirm-submit" id="confirm-submit">
    </fieldset>

  </form>
</main>

<% include tail %>
