<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
  <link rel="apple-touch-icon" href="img/touch-icon-iphone.png">
  <%# <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="white"> %>
  <title><%= page %></title>
  </head>

  <body>
    <% switch (page) {
      case 'Error 404': %>
      <header>
        <nav>
          <h2><%= page %></h2>
        </nav>
      </header>
        <% break
      case 'Error 401': %>
      <header>
        <nav>
          <h2><%= page %></h2>
        </nav>
      </header>
        <% break
      case 'Login': %>
      <header>
        <nav>
          <h2><%= page %></h2>
        </nav>
      </header>
        <% break
        case 'Register': %>
        <header>
          <nav>
            <h2><%= page %></h2>
          </nav>
        </header>
          <% break
      default: %>
      <header>
        <nav>
          <h2><%= page %></h2>
          <img id="open-menu" src="img/menu-icon.svg" alt="Menu icon">
          <ul id="menu">
              <li><img id="close-menu" src="img/close-icon.svg" alt="Close menu icon"></li>
              <li>Menu</li>
            <% if (typeof loginStatus != 'undefined') { %>
              <li><a href="/statistics"><%= lang.menu.statistics %></a></li>
              <li><a href="/add-session"><%= lang.menu.add_session %></a></li>
              <li><a href="/preferences"><%= lang.menu.preferences %></a></li>
              <% if (config.allowChangeEmail) { %>
                <li><a href="/account"><%= lang.menu.account %></a></li>
              <% } %>
              <li><a href="/sign-out"><%= lang.menu.logout %></a></li>
            <% } else { %>
              <li><a href="/login"><%= lang.menu.login %></a></li>
            <% } %>
          </ul>
        </nav>
      </header>
    <% } %>
