<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
  <link rel="apple-touch-icon" href="img/touch-icon-iphone.png">
  <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
  <title><%= page %></title>
  </head>

  <body>
    <% switch (page) {
      case 'Error 404': %>
      <header>
        <nav>
          <ul>
            <li><%= page %></li>
          </ul>
        </nav>
      </header>
        <% break
      case 'Error 401': %>
      <header>
        <nav>
          <ul>
            <li><%= page %></li>
          </ul>
        </nav>
      </header>
        <% break
      case 'Login': %>
      <header>
        <nav>
          <ul>
            <li><%= page %></li>
          </ul>
        </nav>
      </header>
        <% break
        case 'Register': %>
        <header>
          <nav>
            <ul>
              <li><%= page %></li>
            </ul>
          </nav>
        </header>
          <% break
      default: %>
      <header>
        <nav>
          <ul>
            <li><%= page %></li>
            <% if (typeof loginStatus != 'undefined') { %>
              <li><a href="/statistics">Statistics</a></li>
              <li><a href="/add-session">Add session</a></li>
              <li><a href="/preferences">Preferences</a></li>
              <li><a href="/sign-out">Log out</a></li>
            <% } else { %>
              <li><a href="/login">Log in</a></li>
            <% } %>
          </ul>
        </nav>
      </header>
    <% } %>
