<% include head %>

<main id="preferences">
  <h3>Only the first entry of every category is required</h3>
  <form id="preferences-form" action="/update-prefs" method="post">
    <h4>Boards</h4>
    <fieldset class="seperate" id="boards">
      <% for (var i = 0; i < prefs.boards.length; i++) {
        if (i == 0) { %>
          <div class="field first">
        <% } else if (i == 1) { %>
          <div class="field second">
        <% } else if (i == 4) { %>
          <div class="field last">
        <% } else { %>
          <div class="field">
        <% } %>
          <label for="board<%= i %>">Board <%= i + 1 %></label>
          <% if (prefs.boards[i] != '') { %>
            <input id="board<%= i %>" type="text" name="board<%= i %>" value="<%= prefs.boards[i] %>">
          <% } else { %>
            <input id="board<%= i %>" type="text" name="board<%= i %>">
          <% } %>
        </div>
      <% } %>
    </fieldset>

    <h4>Sail sizes</h4>
    <fieldset class="seperate">
      <% for (var i = 0; i < prefs.sails.length; i++) {
        if (i == 0) { %>
          <div class="field first">
        <% } else if (i == 1) { %>
          <div class="field second">
        <% } else if (i == 9) { %>
          <div class="field last">
        <% } else { %>
          <div class="field">
        <% } %>
          <label for="sail<%= i %>">Sail size <%= i + 1 %></label>
          <% if (prefs.sails[i] != '') { %>
            <input id="sail<%= i %>" type="number" name="sail<%= i %>" step="0.1" value="<%= prefs.sails[i] %>">
          <% } else { %>
            <input id="sail<%= i %>" type="number" name="sail<%= i %>" step="0.1">
          <% } %>
        </div>
      <% } %>
    </fieldset>

    <h4>Spots</h4>
    <fieldset class="seperate">
      <% for (var i = 0; i < prefs.spots.length; i++) {
        if (i == 0) { %>
          <div class="field first">
        <% } else if (i == 1) { %>
          <div class="field second">
        <% } else if (i == 4) { %>
          <div class="field last">
        <% } else { %>
          <div class="field">
        <% } %>
          <label for="spot<%= i %>">Spot url <%= i + 1 %></label>
          <% if (prefs.spots[i] != '') { %>
            <input id="spot<%= i %>" type="url" name="spot<%= i %>" value="<%= prefs.spots[i] %>">
          <% } else { %>
            <input id="spot<%= i %>" type="url" name="spot<%= i %>">
          <% } %>
        </div>
      <% } %>
    </fieldset>

    <fieldset class="seperate not-white">
      <input type="submit" name="submit" id="submit">
    </fieldset>
  </form>
</main>

<% include tail %>
