<% include head %>

<main id="preferences">
  <h3><%= lang.page.preferences.title %></h3>
  <form id="preferences-form" action="/update-prefs" method="post">
    <h4><%= lang.general.board[1] %></h4>
    <fieldset class="seperate" id="boards">
      <% for (var i = 0; i < prefs.boards.length; i++) {
        if (i == 0) { %>
          <div class="field first">
        <% } else if (i == 1) { %>
          <div class="field second">
        <% } else if (i == 4) { %>
          <div class="field last">
        <% } else { %>
          <div class="field">
        <% } %>
          <label for="board<%= i %>"><%= lang.general.board[0] %> <%= i + 1 %></label>
          <% if (prefs.boards[i] != '') { %>
            <input id="board<%= i %>" type="text" name="board<%= i %>" value="<%= prefs.boards[i] %>">
          <% } else { %>
            <input id="board<%= i %>" type="text" name="board<%= i %>">
          <% } %>
        </div>
      <% } %>
    </fieldset>

    <h4><%= lang.general.sail_size[1] %></h4>
    <fieldset class="seperate">
      <% for (var i = 0; i < prefs.sails.length; i++) {
        if (i == 0) { %>
          <div class="field first">
        <% } else if (i == 1) { %>
          <div class="field second">
        <% } else if (i == 9) { %>
          <div class="field last">
        <% } else { %>
          <div class="field">
        <% } %>
          <label for="sail<%= i %>"><%= lang.general.sail_size[0] %> <%= i + 1 %></label>
          <% if (prefs.sails[i] != '') { %>
            <input id="sail<%= i %>" type="number" name="sail<%= i %>" step="0.1" value="<%= prefs.sails[i] %>" max="20">
          <% } else { %>
            <input id="sail<%= i %>" type="number" name="sail<%= i %>" step="0.1" max="20">
          <% } %>
        </div>
      <% } %>
    </fieldset>

    <h4><%= lang.general.spot[1] %></h4>
    <p><%= lang.page.preferences.spotexplaination %></p>
    <fieldset class="seperate">
      <% for (var i = 0; i < prefs.spots.length; i++) {
        if (i == 0) { %>
          <div class="field first">
        <% } else if (i == 1) { %>
          <div class="field second">
        <% } else if (i == 4) { %>
          <div class="field last">
        <% } else { %>
          <div class="field">
        <% } %>
          <label for="spot<%= i %>"><%= lang.general.spot[0]%> <%= i + 1 %></label>
          <% if (prefs.spots[i] != '') { %>
            <input id="spot<%= i %>" type="text" name="spot<%= i %>" value="<%= prefs.spots[i] %>">
          <% } else { %>
            <input id="spot<%= i %>" type="text" name="spot<%= i %>">
          <% } %>
        </div>
      <% } %>
    </fieldset>

    <fieldset class="seperate not-white">
      <input type="submit" name="submit" id="submit">
    </fieldset>
  </form>
</main>

<% include tail %>
