<% include head %>

<% include nav %>

<main>
  <section class="content">
    <h1><%= lang.account.register %></h1>

    <form action="/sign-up" method="post">
      <fieldset class="fieldset fieldset--margin">
        <div class="field field--first">
          <label for="username"><%= lang.account.username %></label>
          <input id="username" class="input" type="text" name="username" placeholder="WindsurfDude123" required>
        </div>

        <div class="field field--second">
          <label for="email">E-mail</label>
          <input id="email" class="input" type="email" name="email" placeholder="john@example.com" required>
        </div>

        <div class="field">
          <label for="password"><%= lang.account.password %></label>
          <input id="password" class="input" type="password" name="password" placeholder="" min="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
        </div>

        <div class="field field--last">
          <label for="password"><%= lang.account.repeat_passwd %></label>
          <input id="repeat-password" class="input" type="password" name="repeat-password" placeholder="" min="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
        </div>
      </fieldset>

      <p class="fieldset--margin"><%= lang.account.register_help %></p>

      <fieldset class="fieldset--margin">
        <input type="submit" name="submit" id="submit">
      </fieldset>
    </form>

    <p>Already have an account? Log in <a href="/login">here</a></p>
  </section>
</main>

<script src="js/register.js"></script>

<% include tail %>
