<% include head %>

<main id="preferences">
  <h3><%= lang.page.preferences.title %></h3>
  <form id="preferences-form" action="/set-prefs" method="post">
    <h4><%= lang.general.board[1] %></h4>
    <fieldset class="seperate" id="boards">
      <div class="field first">
        <label for="board0"><%= lang.general.board[0] %> 1</label>
        <input id="board0" type="text" name="board0" placeholder="Fanatic Gecko 120" required>
      </div>

      <div class="field second last">
        <label for="board1"><%= lang.general.board[0] %> 2</label>
        <input id="board1" type="text" name="board1">
      </div>

      <div class="field">
        <label for="board2"><%= lang.general.board[0] %> 3</label>
        <input id="board2" type="text" name="board2">
      </div>

      <div class="field">
        <label for="board3"><%= lang.general.board[0] %> 4</label>
        <input id="board3" type="text" name="board3">
      </div>

      <div class="field last">
        <label for="board4"><%= lang.general.board[0] %> 5</label>
        <input id="board4" type="text" name="board4">
      </div>
    </fieldset>

    <h4><%= lang.general.sail_size[1] %></h4>
    <fieldset class="seperate">
      <div class="field first">
        <label for="sail0"><%= lang.general.sail_size[0] %> 1</label>
        <input id="sail0" type="number" name="sail0" placeholder="3.5" step="0.1" max="20" required>
      </div>

      <div class="field second">
        <label for="sail1"><%= lang.general.sail_size[0] %> 2</label>
        <input id="sail1" type="number" name="sail1" step="0.1" max="20">
      </div>

      <% for (var i = 2; i < 9; i++) { %>
        <div class="field">
          <label for="sail<%= i %>"><%= lang.general.sail_size[0] %> <%= i + 1 %></label>
          <input id="sail<%= i %>" type="number" name="sail<%= i %>" step="0.1" max="20">
        </div>
      <% } %>

      <div class="field last">
        <label for="sail9"><%= lang.general.sail_size[0] %> 10</label>
        <input id="sail9" type="number" name="sail9" step="0.1" max="20">
      </div>
    </fieldset>

    <h4><%= lang.general.spot[1] %></h4>
    <p><%= lang.page.preferences.spotexplaination %></p>
    <fieldset class="seperate">
      <div class="field first">
        <label for="spot0"><%= lang.general.spot[0] %> 1</label>
        <input id="spot0" type="text" name="spot0" placeholder="maui_honolua_bay" required>
      </div>

      <div class="field second">
        <label for="spot1"><%= lang.general.spot[0] %> 2</label>
        <input id="spot1" type="text" name="spot1">
      </div>

      <div class="field">
        <label for="spot2"><%= lang.general.spot[0] %> 3</label>
        <input id="spot2" type="text" name="spot2">
      </div>

      <div class="field">
        <label for="spot3"><%= lang.general.spot[0] %> 4</label>
        <input id="spot3" type="text" name="spot3">
      </div>

      <div class="field last">
        <label for="spot4"><%= lang.general.spot[0] %> 5</label>
        <input id="spot4" type="text" name="spot4">
      </div>
    </fieldset>

    <fieldset class="seperate not-white">
      <input type="submit" name="submit" id="submit">
    </fieldset>
  </form>
</main>

<% include tail %>
