<% include head %>

<% include nav %>

<main id="statistics">
  <section class="content">
    <noscript>
      <p><%= lang.page.statistics.noscript %></p>
      <a href="/all-stats" class="button"><%= lang.page.statistics.all_stats %></a>
    </noscript>

    <h2><%= lang.page.statistics.statistics_for %>: <%= loginStatus.name %></h2>
    <p><%= lang.page.statistics.total_sessions %>: <span id="total-sessions">0</span></p>

    <form>
      <fieldset class="fieldset radio-buttons">
        <div class="field field--first field--last">
          <label for="select-year"><%= lang.page.statistics.select_year %>r</label>
          <select id="select-year" class="input" name="select-year"></select>
        </div>
      </fieldset>
    </form>

    <h3><%= lang.page.statistics.session_amount %></h3>
    <svg id="session-amount" class="datavis"></svg>


    <h3><%= lang.page.statistics.sail_usage %></h3>
    <svg id="sail-usage" class="datavis"></svg>

    <h3><%= lang.page.statistics.board_usage %></h3>
    <svg id="board-usage" class="datavis"></svg>

    <h3><%= lang.page.statistics.spot_visits %></h3>
    <svg id="spot-visits" class="datavis"></svg>

    <a href="/all-stats" class="button"><%= lang.page.statistics.all_stats %></a>
  </section>
</main>

<script src="js/d3.min.js"></script>
<script src="js/datavis.min.js"></script>

<% include tail %>
