<% include head %>

<% include nav %>

  <main>
    <section class="content">
      <h3><%= lang.page.statistics.all_stats %></h3>
      <button id="download-csv" class="button" type="button" name="button">Download as .csv</button>
      <button id="download-json" class="button" type="button" name="button">Download as .json</button>
      <table>
        <tr>
          <th><%= lang.general.date %></th>
          <th><%= lang.general.spot[0] %></th>
          <th><%= lang.general.windspeed %></th>
          <th><%= lang.general.windgust %></th>
          <th><%= lang.general.wind_direction %></th>
          <th><%= lang.general.sail_size[0] %></th>
          <th><%= lang.general.board[0] %></th>
          <th><%= lang.general.rating %></th>
          <th><%= lang.general.note %></th>
        </tr>

        <%
        var stats = statistics
        for (var i = 0; i < stats.length; i++) { %>
          <tr>
            <td><%= stats[i].date %></td>
            <td><%= stats[i].spot %></td>
            <td><%= stats[i].windspeed %></td>
            <td><%= stats[i].windgust %></td>
            <td><%= stats[i].windDirection %></td>
            <td><%= stats[i].sailSize %></td>
            <td><%= stats[i].board %></td>
            <td><%= stats[i].rating %></td>
            <td><%= stats[i].note %></td>
          </tr>
        <% } %>

      </table>
    </section>
  </main>

  <script src="js/all-stats.js"></script>

<% include tail %>
