<% if (gear === 'sail') { %>
  <fieldset id="gear-sails" class="fieldset--no-margin">
<% } else { %>
  <fieldset>
<% } %>
  <h2>Enter your <%= gear + 's' %></h2>
  <% if (gear === 'spot') { %>
    <p class="help-message">This is the spotname as it appears in the windfinder url. For Maui Honolua Bay it would be: maui_honolua_bay.</p>
<% } %>
  <div class="field field--first">
    <label for="<%= gear %>0"><%= gear.charAt(0).toUpperCase() + gear.substring(1) %> 1</label>
    <input id="<%= gear %>0" type="text" name="<%= gear %>" placeholder="<%= placeholder %>" required>
  </div>

  <% for (let i = 1; i < amount; i++) { %>
    <div class="field">
      <label for="<%= gear %><%= i %>"><%= gear.charAt(0).toUpperCase() + gear.substring(1) %> <%= i + 1 %></label>
      <input id="<%= gear %><%= i %>" type="text" name="<%= gear %>">
    </div>
  <% } %>
</fieldset>